*{
    padding: 0;
    margin: 0;
}
body{
    background-color: wheat;
    max-height: 100vh;
    background-color: #345436;
    overflow-y: hidden;  
}


.ccc{
    text-align: center;
    border:3px solid #ff5900 ;
    border-radius: 25px;
    width: 900px;
    height: 80px;
    margin: 10px;
}
.bbb{
    display: flex;
    justify-content: center;
}
.analytics{
    font-size: 20px;
    text-align: center;
    border:3px solid #ff5900 ;
    border-radius: 25px;
    width: 700px;
    height: 300px;
    margin: 10px;
}
.aaa{
    text-align:center;
    font-family: Poppins;
    color: #ffff;
    background-color:#345436;
    border-radius: 5px;
    width: 160px;
    height: 27px;
}
.ann{
    line-height: 27px;
    text-align:center;
    font-family: Poppins;
    color: #ffff;
    background-color:#345436;
    border-radius: 5px;
    width: 250px;
    height: 27px;
}
.membership{
    font-family: Poppins;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    line-height:65px;
    text-align: center;
    border:2px solid #000000;
    background-color: white;
    border-radius: 25px;
    width: 200px;
    height: 70px;
    margin: 10px;
}
.membership:hover{
    background-color: #EB8B37;
}
.mem2{
    display: flex;
    justify-content: left;
}
.mem3{
    border:2px solid #000000;
    background-color: white;
    border-radius: 25px;
    width: 1300px;
    height: 500px;
}
.both2{
    display: flex;  
}
table, th, td {
    border: 0px solid black;
    position: sticky;
    text-align: center;
    padding: 5px;
    font-size: 17px;
    font-family: Poppins;

}
.both{
    line-height: 30px;
    text-align: center;
    color: #ffff;
    background-color:#345436;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin: 15px;
}
.sidebar .pfp{
    text-align: center;
}
.pfp{ 
    height: 100px;
}
.pfp b{
    color: white;
}
.sidebar b{
    display: none;
}
.sidebar.on b{
    display: contents;
}
.sidebar{
    position: absolute;
    max-height: 98vh;
    height: 100%;
    width: 80px;
    background-color: #345436;
    padding: 0.4rem 0.8rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: poppins;
}
ul{
    padding-top: 80px;
    font-size: 20px;
}
ul li span{
    display: flex;
    
}
.sidebar.on{
    width: 205px;
}

.sidebar.on #btn{
    left:90%;
    
}

.bold{
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.on p{
    opacity: 1;
}

.sidebar ul li{
    list-style: none;
    height: 50px;
}
ul li{
    font-size: 2.8vh;
    font-size: 1.3vw;
    font-size: 80%;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar.on ul li a:hover{
    background-color: #fff;
    color: black;
    width: 1000px;
}
.sidebar ul li a:hover{
    background-color: #fff;
    color: black;
}
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 48px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 20px
}

.sidebar .nav-item{
    opacity:0;
}

.sidebar.on .nav-item{
    opacity: 1;
}

.inside-content{
    margin: 10px 10px 10px 110px;
    background-color: #fff;
    height: 90vh;
    border-radius: 50px;
    padding-left: 20px;
    padding: 20px;
    overflow-y: hidden; 
}
.sidebar.on + .inside-content{
    margin-left: 230px;
}

.inside-content .inside-content1{
    display: none;
}


.logout {
  position: absolute;
  bottom: 40px;
  left: 60px;
  width: 100vw;
}

#dashboard-content{
    overflow-y: scroll; 
    height: 560px;
} 

#events-content{
    overflow-y: scroll;
    height:560px;
}

.inside-content span{
    font-family:poppins ;
    font-weight: bold; 
    font-size: 32px; 
    color: #545454;
}
/*   position: absolute;
  bottom: 40px;
  left: 60px;
  width: 100%;*/
